@{
    ViewData["Title"] = "bilihan.online";
}

<div class="text-center">
    <h1 class="display-4">Welcome to bilihan.online</h1>
    <p>
        To start. Click <a asp-area="" asp-controller="Customer"
                               asp-action="Index">here.</a>
    </p>
</div>
